# Node modules
node_modules/

# Generated vendor libraries
vendor/
!js/vendor/
!js/vendor/**

# Minified JavaScript files
js/*.min.js
js/*.min.js.map

# jQuery distribution
jquery/

# OS metadata
.DS_Store
